/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Styles */
body {
    font-family: Arial, sans-serif;
    background: #07081A;
    color: white;
    line-height: 25px;
}

/* Header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 200px;
    border-bottom: 1px solid #261C51;
   
}


.logo {
    max-width: 100%;
}


.nav {
    display: flex;
    gap: 20px;
}



.nav-links{
    color: #FFF;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    text-decoration: none;
}




.nav-link {
    color: #90ee90;
    text-decoration: none;
    font-size: 16px;
}




/* Main Content */
.main {
    text-align: center;
    padding: 64px 200px;
}

.title {
    color: #FFF;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: 52px;
    
}


.main {
    display: flex;
    width: 1040px;
    justify-content: space-between;
    align-items: center;
}



.main-image {
    width: 314px;
    height: 320px;
    flex-shrink: 0;
    margin-left: 25px;
}


.stats {
    display: flex;
    width: 1040px;
    padding: 40px 72px;
    justify-content: space-between;
    align-items: flex-start;
    background: #242642;
   margin-left: 10%;
}



.stat {
    background: #242642;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    justify-content: space-between;

}


.stat-number {
    color: #8CE900;
    font-family: Inter;
    font-size: 56px;
    font-style: normal;
    margin-bottom: 10px;
}


.stat-text {
    font-size: 1rem;
}


/* Footer */
.footer {
    display: flex;
    justify-content: space-between;
    padding: 64px 200px;
    background: #07081A;
}

.footer-info,
.footer-nav,
.footer-contact {
    width: 30%;

}

.footer-contact,
.footer-nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 16px;

}

.footer-info-p {
    color: #C0C0C0;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    
}

h3 { 
    color: #8CE900;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;


}

.footer-logo {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.footer-link {
    color: #FFF;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 16px;
    text-decoration: none;

}


